
.containerProducts{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    height: 100%;
    padding: 0.5rem;
    justify-content: center;
    margin-top: 4.5rem;
}