

.containerHeader{
    width: 100%;
    padding: 1.1rem;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

    .containerNav{
        display: flex;
        align-items: center;
        width: 90%;
        margin: auto;
        justify-content: space-between;
        .containerLogo{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
            height: 3.5vh;
           }
        }
        .containerFiltro{
            display: flex;
            align-items: center;
            gap: 0.8rem;
            border-radius: 0.25rem;
            border:none;
            
            .filtro{
                display: flex;
                align-items: center;
                gap: 0.3rem;
                border-radius: 0.45rem;
                border:none;
                background-color: #F3F5F6;
                height: 37px;
                width: 352px;
                input{
                    padding: 0.5rem;
                    background-color: #F3F5F6;
                    border: none;
                    outline: none;
                    border-radius: 0.45rem;
                    height: 100%;
                    width: 90%;
                
                }
                @media (max-width:710px) {
                    display: none;
                }
               
            }
            
        }
        .containerIconeCarrinho{
            position: relative;
            img{
                cursor: pointer;
            }
        }

    }
  
}

.containerNumberCarrinho{
    background-color: #CD1818;
    clip-path: circle();
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -4px;
    right:-10px;

    span{
        color: white;
        font-size: 0.8rem;
        font-weight: bold;
    }
}